/* some of the code used https://www.w3schools.com/howto/howto_js_todolist.asp as a reference */
*{
  box-sizing: border-box;
}

/* Style the labels */
.label_inform {
    margin-top: 13px;
    display:inline-block;
}

/* Create three equal columns */
.column {
  float: left;
  width: 32%;
  padding: 15px;
  margin: 6px;

}

/* Style the box container */
.box {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #CCCCCC;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Remove margins and padding from the list */
.ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
.ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
.ul li:hover {
  background: #dddddd;
}

/* When clicked on, add a background color and strike out text */
.ul li.checked {
  background: #88888880;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the header */
.header {
  background-color: #FDD69250;
  padding: 30px 40px;
  color: #754f44;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input*/
.input {
  margin: 5px;
  border: none;
  border-radius: 0;
  width: 80%;
  padding: 10px;
  float: right;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding: 0px;
  width: 50%;
  background: #FDD69290;
  color: #fefefe;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

/* Style the "Add" button when hovered on */
.addBtn:hover {
  background-color: #bbb;
}

